# Beispielwerte für den Unterricht. Die echte .env steht in .gitignore.
RABBITMQ_USER=chat
RABBITMQ_PASSWORD=bitte-lokal-aendern

POSTGRES_APP_USER=chat_user
POSTGRES_APP_PASSWORD=bitte-lokal-aendern
POSTGRES_APP_DB=chat

POSTGRES_KC_USER=keycloak_user
POSTGRES_KC_PASSWORD=bitte-lokal-aendern
POSTGRES_KC_DB=keycloak
